# Options +FollowSymLinks
# DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
	RewriteEngine On

	# RewriteBase /relative/web/path/

	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^(.+) - [PT,L]

	RewriteRule ^(.*) index.php
</IfModule>

# php_value register_globals off